firebase/node_modules
firebase/functions/lib
firebase/functions/node_modules
firebase/functions/ratify-service-key.json
firebase/functions/ratify-yelp-key.json
firebase/functions/coverage
android/app/release
